*{
      background-color: rgba(12, 37, 29);
      color: #fff;

}
.container h1{
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}



label{
    font-size: 18px;
}

.container{

text-align: center;
margin-top: 200px;
}

input{
      border-color: rgb(226, 241, 6);
      box-shadow: 0px 5px 10px rgb(88, 241, 74);
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 20px;
}
.button{
    background-color: rgb(88, 241, 74);
    color: #0e0d0d;
    height: auto;
    width: 200px;
    border: none;
    padding: 10px;
    border-radius:  300px;
}
.button:hover{
    color: #fff; 
    text-decoration:underline;
    background-color: rgb(219, 57, 92);
}



@media(max-width:768px) {

          .button{
            margin-top: 18px;
          }






    
}